@mixin themeable($container-bg) {
    
        .container {
            background-color: $container-bg;
        }

        .left {
            background-color: blueviolet;
        }

        .right {
            background-color: coral;
        }
    
}

@mixin test($direction) {
    display: flex;
    flex-direction: $direction;

}