@import "abstracts/mixins";

.container {
    padding: 4rem;
    background-color: aqua;
    font-family: sans-serif;
    @include test(row);
}

.dark {
    @include themeable(#4455ee);
}

.default {
    background-color: darkgrey;
}